<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:vtb.app.link</string>
		<string>applinks:vtb.test-app.link</string>
		<string>applinks:vtb-alternate.app.link</string>
		<string>applinks:vtb-alternate.test-app.link</string>
	</array>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<string>production</string>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)*</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.me.prime.primeconcierge.Share</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)me.prime.primeconcierge.SharedItems</string>
	</array>
</dict>
</plist>
